<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CEM</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
<header>
    <div class="picture">
    <img src="../image/sky.jpg" alt="Picture" height="138px" width="205px">
    </div>

    <nav>
        <ul>
           <li> <a href="#"> HOME </a>  </li>
           <li><a href="#">ABOUT</a></li>
           <li><a href="#">CONTACT</a></li>
           <li><a href="#" class="signup-btn">Sign Up</a></li>
        </ul>
    </nav>

</header>

<main>
    <div class="content-left"></div>
    <h1>DIGITAL</h1>
    <h2>MARKETING</h2>
    <p>POCKET, and looked at it, and then hurried on, Alice started to
        her feet, for it flashed across her mind that she had never
        before seen a rabbit with either a waistcoat-pocket, or a watch to
        take out of it, and burning with curiosity, she ran across the
        field after it, and fortunately was just in time to see it pop
        down a large rabbit-hole under the hedge</p>
    <div class="content-right">

    <img src="../image/bird.jpeg" alt="" class="bird-img">
    </div>
</main>

<footer>
    <h3>Visit me on</h3>
    <div class="logos">
        <nav>

        <a href="#"><img src="https://img.icons8.com/color/96/000000/facebook-new.png" alt="FaceBook"/></a>
        <a href="#"><img src="https://img.icons8.com/fluency/96/000000/twitter.png" alt="Twitter"/></a>

        </nav>
    </div>

</footer>

</body>
</html>